/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUM 1
#define SYM 2
#define NAV 3

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
   &kp ESC   &kp Q       &kp W      &kp E      &kp R       &kp T   &kp Y &kp U       &kp I      &kp O      &kp P          &kp BSPC
   &kp GRAVE &mt LCTRL A &mt LALT S &mt LGUI D &mt LSHFT F &kp G   &kp H &mt RSHFT J &mt RGUI K &mt RALT L &mt RCTRL SEMI &kp SQT
   &kp LSHFT &kp Z       &kp X      &kp C      &kp V       &kp B   &kp N &kp M       &kp COMMA  &kp DOT    &kp FSLH       &kp CTRL
                              &kp LGUI &lkp TAB &kp SPACE   &kp RET &kp BSPC &kp RALT
                        >;
                };

                number_layer {
                        bindings = <
   &trans &kp N1    &kp N2   &kp N3   &kp N4    &kp N5  &kp N6 &kp N7    &kp N8   &kp N9   &kp N0    &trans
   &trans &kp LCTRL &kp LALT &kp LGUI &kp LSHFT &none   &none  &kp RSHFT &kp RGUI &kp RALT &kp RCTRL &trans
   &trans &none     &none    &none    &none     &none   &none  &none     &none    &none    &none     &trans
                          	 &trans   &trans    &trans  &trans &trans    &trans
                        >;
                };

                symbols_layer {
                        bindings = <
   &trans &kp EXCL  &kp AT   &kp HASH &kp DLLR  &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &trans
   &trans &kp LCTRL &kp LALT &kp LGUI &kp LSHFT &none       &kp MINUS &kp EQUAL &kp BSLH        &kp LBKT &kp RBKT &trans
   &trans &none     &none    &none    &none     &none       &kp UNDER &kp PLUS  &kp PIPE        &kp LBRC &kp RBRC &trans
                    	       &trans   &trans    &trans      &trans    &trans    &trans
                        >;
                };
        };

                nav_layer {
                        bindings = <
   &bt BT_CLR &kp C_BRI_UP  &kp C_BRI_DN &none        &none        &kp C_VOL_UP   &kp C_PP   &kp C_PREV &kp UP   &kp C_NEXT &kp PG_UP &trans
   &trans     &kp LCTRL     &kp LALT     &kp LGUI     &kp LSHFT    &kp C_VOL_DN   &kp C_MUTE &kp LEFT   &kp DOWN &kp RIGHT  &kp PG_DN &trans
   &trans     &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &none      &none      &none    &none      &none     &trans
                    	                   &trans       &trans       &trans         &trans     &trans     &trans
                        >;
                };
        };
};
